#randomclr {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#randomclr > h1 {
    color: orangered;
    font-size: 1.5rem;
    margin: 1rem;
}
button {
    width: 100px;
    height: 50px;
    background-color: white; 
    color: orangered;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 10px grey;
}


@media (max-width: 600px) {
    #randomclr > h1 {
        font-size: 1.2rem;
    }
    button {
        width: 80px;
        height: 40px;
        font-size: 14px;
    }
}


@media (max-width: 900px) {
    #randomclr > h1 {
        font-size: 1.3rem;
    }
    button {
        width: 90px;
        height: 45px;
        font-size: 15px;
    }
}