#recipes {
    width: 100%;
    padding: 20px;
}
#recipes > h1 {
    text-align: center;
    margin: 2rem;
}
#recipe-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}
.recipe-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 10px rgb(204, 198, 198);
    border-radius: 5px;
    padding: 10px;
}
.recipe-card:hover {
    box-shadow: 0 0 15px rgb(204, 198, 198);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}
.recipe-card > h1 {
    font-size: 1.2rem;
}
.recipe-card > span {
    font-size: 0.9rem;
    background-color: orangered;
    color: white;
    padding: 5px 10px;
}
.recipe-card > img {
    width: 100%;
    border-radius: 5px;
}

@media (max-width: 600px) {
    #recipe-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 900px) {
    #recipe-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}