#container {
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  overflow-x: hidden;
}

#container > h1 {
  text-align: center;
  color: rgb(255, 111, 0);
  text-decoration: underline solid rgb(1, 255, 99);
  font-weight: 900;
  font-size: 3rem;
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  row-gap: 3rem;
  /* padding: 20px; */
  margin: 10px;
}

.card {
  width: 80%;
  padding: 15px;
  box-shadow: 0 0 10px black;
  border-radius: 20px;
  text-align: center;
}

.card > img {
  width: 100%;
  border-radius: 20px;
}

.card > h1 {
  font-size: 1.8rem;
}

@media (max-width: 600px) {
  #container > h1 {
    font-size: 2rem;
  }
  .card-container {
    grid-template-columns: repeat(1,1fr) !important;
  }
  .card {
    width: 90%;
  }
}

@media (max-width: 900px) {
  #container > h1 {
    font-size: 2.5rem;
  }
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .card {
    width: 85%;
  }
}
