#about {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#about > img {
    width: 20%;
    border-radius: 50%;
    border: 2px solid red;
}
#about > p {
    width: 80%;
    text-align: justify;
    padding: 1rem;
    box-shadow: 0 0 10px rgb(188, 170, 170);
    border-radius: 5px;
}
#about > p > span {
    color: rgb(255, 89, 0);
}

@media (max-width: 600px) {
    #about > img {
        width: 50% !important;
    }
    #about > p {
        width: 90%;
        font-size: 0.8rem;
    }
}

@media (max-width: 900px) {
    #about > img {
        width: 30%;
    }
    #about > p {
        width: 80%;
    }
}