#footer {
  width: 100%;
}
#end {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 2rem;
}
#end > img {
  width: 100%;
}
#foot {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  color: white;
  background-color: black;
  padding: 2rem;
}
#foot > a {
  color: white;
}
#foot > a:hover {
  color: red;
}

@media (max-width: 900px) {
  #end {
    grid-template-columns: repeat(1, 1fr);
  }
  #foot {
    flex-direction: column;
    align-items: center;
  }
  #foot > a {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  #end {
    grid-template-columns: repeat(1, 1fr);
  }
  #foot {
    align-items: center;
    font-size: 0.7rem;
    padding: 10px;
  }
  #foot > a {
    margin-bottom: none;
  }
}
