#projects {
    width: 100%;
    margin-top: 1rem;
}
#projects > p {
font-size: 1.5rem;
padding:  0 2rem;
}

#card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 3rem;
}
#card > .house {
  width: 100%;
  position: relative;
}
.house > img {
  width: 100%;
}
.house > p {
  color: white;
  background-color: black;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
}


@media (max-width: 900px) {
    #card {
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }
    #card > .house > p {
        font-size: 0.8rem;
        padding: 2px 5px;
    }
}

@media (max-width: 600px) {
  #projects > p {
    padding: 0 0.5rem;
    font-size: 1.3rem;
  }
    #card {
        grid-template-columns: repeat(1, 1fr);
        padding: 0.5rem;
    }
    #card > .house > p {
        font-size: 0.7rem;
        padding: 2px 5px;
    }
}