#main {
    width: 100%;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(255, 132, 0);
    padding: 1rem;
    box-shadow: 0 0 10px black;
    font-size: 1.2rem;
}

#nav-links {
    display: flex;
    gap: 20px;
}

#nav-links > a {
    text-decoration: none;
    color: rgb(255, 132, 0);
    font-size: 1rem;
    padding: 5px;
}

#nav-links a:hover {
    text-decoration: none;
    border-radius: 2px;
    background-color: rgb(255, 255, 125);
    padding: 5px;
    color: rgb(0, 102, 255);
    text-decoration: underline;
}


@media (max-width: 600px) {
    #navbar {
        padding: 0.5rem !important;
    }
    #navbar > span {
        display: none;
    }
    #nav-links {
        flex-direction: row !important;
        justify-content: center;
        gap: 10px;
    }
    #nav-links > a {
        font-size: 0.7rem;
    }
}

@media (max-width: 900px) {
    #navbar {
        padding: 0.8rem 0;
        align-items: center;
    }
    #nav-links {
        gap: 15px;
    }
    #nav-links > a {
        font-size: 0.8rem;
    }
}